default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: rj_project_development
  username: postgres
  password: <%= ENV['PG_PASSWORD'] %>
  host: localhost

test:
  <<: *default
  database: rj_project_test
  username: postgres
  password: <%= ENV['PG_PASSWORD'] %>
  host: localhost

production:
  primary:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>

  cable:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
